
  <div class="form-group {{#if favColor}} fav-color-{{favColor}} {{/if}}">

  <div class="form-group">

    <form action="/" method="post">
      <div class="radio">
        <label><input type="radio" value="good" name="good-evil">Good</label>
      </div>
      <div class="radio">
        <label><input type="radio" value="evil" name="good-evil">Evil</label>
      </div>
      <div>
        <label>Favorite Food<input type="text" name="favFood" placeholder="{{favFood}}"></label>
      </div>
      <div class="form-drop">
        <label>Select Color</label>
        <select class="form-control" id="favColor" name="favColor">
          <option>orange</option>
          <option>green</option>
          <option>yellow</option>
        </select>
      </div>
      <div>
        <label>Insanity</label><input class="slider" id="insanity" data-slider-id='insanity-slider' type="text" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value="5" name="insanity"/>
      </div>
      <input type="submit">
    </form>
    </div>
    <div>
      {{#if resume}}
      <h1>RESUME</h1>
      {{/if}}
      {{#each resume as |resume|}}
      <h1>{{resume}}</h1>
      {{/each}}
    </div>


    {{#if likes}}
      <div class="row">
      <div class="col-md-6">
      <h2>LIKES</h2>
    

    {{#each likes as |like|}}
    <div>{{like}}</div>
    {{/each}}

    </div>
    <div class="col-md-6">
    <h2>DISLIKES</h2>
    {{#each dislikes as |dislike|}}
    <div>{{dislike}}</div>
   
    {{/each}}
     </div>
     </div>
    {{/if}}

    {{#if biography}}
    <h1>BIOGRAPHY</h1>
    <h2>{{biography}}</h2>
    {{/if}}


